<div class="card-body">
    <h1>Home Dashboard</h1>
    <h1>Step {{step.step}}</h1>
    <div class="text-center">
        <button type="button" class="btn btn-secondary" (click)="resetServices()">1. Reset Services</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="config()">2. Send Config</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="startManagement()">3. Start Management Service</button>
    </div>
    <br/>
    <div class="jumbotron text-center">
        <img src="assets/map_image/graph.png" />
    </div>
</div>